@model SwordsAndSorcery_2020.ModelTypes.UserType

@if (@Model.UserID>0) {
    <ul>
        <li>
        Hello, @Html.ActionLink(@Model.UserName, "Manage", "Access", htmlAttributes: new { @class = "username", title = "Manage", @id = "_currentUser", @data_ID = @Model.UserID })!
        </li>
        <li>
            @Html.ActionLink("Log Out", "../Access/LogOff", new { userID = @Model.UserID })
        </li>

    </ul>
    if (!@Model.Confirmed)
    {
        <ul>
            <li>
                @Html.ActionLink("You need to confirm!", "../Access/Confirmation", new { UserID = @Model.UserID, token = "" })
            </li>
        </ul>
    }
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Access", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Access")</li>
    </ul>
}